@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg: 12 12 16;
    --card: 24 24 28;
  }
  html, body, #root {
    height: 100%;
  }
  body {
    @apply bg-slate-950 text-slate-100 antialiased;
    font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, Arial, "Apple Color Emoji", "Segoe UI Emoji";
  }
}

/* hide scrollbar simple */
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
